p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

hr {
  width: 92%;
}
header {
  padding-top: 30px;
}

.container.content {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}

.myself {
  border-radius: 50%;
  width: 210px;
  height: 210px;
  margin: 15px 15px;
}

.my-title {
  font-size: 22px;
  font-weight: bold;
}

.motivator {
  color: #fff;
}

/* Project Links section .my-work */

.my-work {
  margin-top: 20px;
  text-align: center;
}

.my-work > p {
  padding: 10px 0px 20px 0px;
}

.my-work > p > a {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

/*CSS for Sections that divide content */

nav {
  text-align: center;

/*   height: 50px;
  border: 1px solid lemonchiffon;
  margin: 0px 0px 10px 0px;
  padding: 0px; */
}

/*Changing navbar-default background-color to white*/
.navbar-default {
/*   background-color: #fff; */
}

.intro {
  text-align: center;
  /* border: 1px solid blue; */
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

.skills2paybills {
  /* border: 1px solid yellow; */
  /* margin: 0px 0px 0px 0px; */
  padding: 0px 0px 0px 0px;
}

.portfolio {
  /* border: 1px solid blue; */
  /* margin: 0px 0px 10px 0px; */
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.experience {
  /* border: 1px solid green; */
  margin: 0px 0px 10px 0px;
  padding: 40px 0px 40px 0px;
  text-align: center;
}

footer {
  border: 1px solid purple;
  margin: 0px 0px 10px 0px;
  padding: 10px 0px 40px 0px;
}

/* Section styles end here */
/* Nav Styles start here */

nav > ul > li {
/*   display: block;
  float: left;
  padding: 10px;
  margin: 0px; */
}

.navbar-btn {
  height: 36px;
  width: 80px;
  margin-left: 10px;
  padding: 0px;
}

/* Style for portfolio items */
.port-item > p {
  text-align: center;
}

.about {
  /* color: teal; */
  font-size: 22px;
  padding: 10px 80px 10px 80px;
}

.skills {
  text-align: center;
}

.col-md-4 > ul {
  list-style-type: none;
  padding: 0px;
}

.experience > ul {
  padding: 0px;
}

.work-title {
  font-weight: bold;
}

/* Portfolio styles */


/* Contact Form Styles */

.contact {
  text-align: center;
}

section.contact > label, input, textarea {
  display: block;
}

label {
  margin-top: 10px;
}

.input-group {
  margin: 0 auto;
}

.input-group > input {
  width: 200px;
}

textarea {
  height: 100px;
  margin-bottom: 20px;
}

/* CSS for User interaction */
li.nav-item:hover {
  border: .5px solid #D3D3D3;
}

/* Media Queries
Small devices (tablets, 768px and up)
Medium devices (desktops, 992px and up)
Large devices (large desktops, 1200px and up)
*/

/* Skills and Tools
- Fix padding for listed skills at max length */

/* Portfolio
- Fix image margins
*/
@media (max-width: 992px) {
  .port-item > img {
    padding: 10px 10px;
  }
}

@media (max-width: 768px) {
  .my-work > p {
    padding: 5px 0px 5px 0px;
  }

  .about {
    padding: 10px 30px 10px 30px;
    font-size: 18px;
  }

  .my-work > h3 {
    margin-bottom: 16px;
  }

  .myself {
    width: 150px;
    height: 150px;
  }
}
